<ol>
<% @book.book_comments.each do |book_comment| %>
<li class="comment">
	<div class="comment-body bb">
		<div class="comment-text">
		<div class="comment-author clearfix">
			<%= book_comment.user.name %>
			<span class="comment-meta">
				<span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
			</span>
		</div>
		<div class="comment-entry">
			<%= book_comment.comment %>
		</div>
		<% if book_comment.user == current_user %>
			<div>
				<%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-dabger pull-right", remote: true %>
			</div>
		<% end %>
		</div>
	</div>
</li>
<% end %>
</ol>